# App
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
python_dotenv==0.19
# Model
alibi-detect==0.8.1
mlflow-skinny==1.21.0
scikit-learn
numpy==1.22.0
pandas==1.2.4
scikit-learn==0.24.1