# API
fastapi==0.110.2
uvicorn==0.29.0

# Model
mlflow==2.9.2
cloudpickle==2.0.0
configparser==5.2.0
psutil==5.9.0
scikit-learn==1.1.1
typing-extensions==4.8.0
alibi-detect==0.12.0
joblib==1.2.0
numpy==1.23.5
pandas==1.5.3